@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@200&family=Open+Sans:wght@300;400&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}